
.btn1{
    background-color: #0E1D48;
    color: #ffff;
    border: none;
    border-radius: 7px;
    padding: 15px 34px;
    font-size: medium;
  }
  
  .btn1:hover{
    background-color: #fcf8f8;
    color: #0E1D48;
    scale: 1.03;
  }
  
  .btn2{
    background-color: #ffffff;
    color: #0E1D48;
    border: none;
    border-radius: 7px;
    padding: 15px 34px;
    font-size: medium;

  }
  
  .btn2:hover{
    background-color: #a0a0a0;
    color: #0E1D48;
    scale: 1.03;
  }


  #bannerText {
    min-width: 50%;
  }
  
  @media (max-width: 768px) {
    .Banner1 {
      flex-direction: column;
      align-items: flex-start;
    
    // &__bannerBoy {
    //   flex-direction: column;
    //   position: relative;
    //   align-items: left;
    //   justify-items:left;
    //   }
    }
  }

  @media (max-width: 768px) {
    .btn1 {
      margin-left: 20px;
      padding: 10px 10px 10px 10px;
    }

    .btn2{
      margin-left: 20px;
      padding: 10px 10px 10px 10px;
    }
  }

  @media (max-width: 768px) {
  .bannerBtn {
      top: 100px;
    }
  }

  @media (max-width:768px) {
    #bannerText {
    // display: block;
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
    position: relative;
    left: 0; /* Or whatever you want */
    align-items: flex-start;
    text-align: left;
    margin-top: 100px;
    }
  }